<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signupstyle.css">
    <title>Sign Up Form</title>
    
</head>
<body>
        <div class="background" >
            <div class="shape"></div>
            <div class="shape1"></div>
            <form action="connect.php" method="post">
                <h3>Sign Up</h3>
                    <label for="name">Name</label>
                    <input for="text" id="namebox" placeholder="Enter Name" name="Name" required>
                    
                    <label for="email">Email</label>
                    <input for="text" id="emailbox" placeholder="Enter Email" name="EmailID" required>
                    
                    <label for="phone">Mobile Number</label>
                    <input for="text" id="phonebox" placeholder="Enter Phone" name="PhoneNo" required>
                    
                    <label for="setpassword">Set Password</label>
                    <input type="password" id="setpasswordbox" placeholder="Create Password" name="pass1" required>
                    
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" id="confirmpasswordbox" placeholder="Confirm Password" name="pass2" required>

                    <button type="submit" onclick="validate()">Sign Up</button>
                    <div class="options">
                        <div><a href="./login.html" style="color:white;text-decoration:none">Back to Login</a></div>
                        
                    </div>
                </form>

            </div>
</body>
<script>
function validate(){

var regName = /^[a-zA-Z]+ [a-zA-Z]+$/;
var Fname = document.getElementById('namebox').value;
if(!regName.test(Fname)){
    alert('Invalid name given.');
    return false;
}

var regEmail = /^[^@]+@\w+(\.\w+)+\w$/;
var mail = document.getElementById('emailbox').value;
if(!regEmail.test(mail)){
    alert('Invalid email given.');
    return false;
}

var regPhone = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
var mail = document.getElementById('phonebox').value;
if(!regPhone.test(mail)){
    alert('Invalid mobile no given.');
    return false;
}

var password = document.getElementById('setpasswordbox').value;
var confirmPassword = document.getElementById('confirmpasswordbox').value;
    if (password != confirmPassword) {
        alert("Passwords do not match.");
        return false;
        }
}
</script>
</html>