<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/signupstyle.css" />
    <title>Sign Up Form</title>
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape1"></div>
      <div class="form">
        <h3>Sign Up</h3>
        <label for="name">Name</label>
        <input
          for="text"
          id="namebox"
          placeholder="Enter Name"
          name="Name"
          required
        />

        <label for="email">Email</label>
        <input
          for="text"
          id="emailbox"
          placeholder="Enter Email"
          name="EmailID"
          required
        />

        <label for="phone">Mobile Number</label>
        <input
          for="text"
          id="phonebox"
          placeholder="Enter Phone"
          name="PhoneNo"
          required
        />

        <label for="setpassword">Set Password</label>
        <input
          type="password"
          id="setpasswordbox"
          placeholder="Create Password"
          name="pass1"
          required
        />

        <label for="confirmpassword">Confirm Password</label>
        <input
          type="password"
          id="confirmpasswordbox"
          placeholder="Confirm Password"
          name="pass2"
          required
        />

        <button  id="signUp">Sign Up</button>
        <div class="options">
          <div onclick="redirectToLogin()" style="color: white; text-decoration: none"> 
              Back to Login
          </div>
        </div>
    </div>
    </div>
  </body>

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-app.js";
    import { getDatabase,set,ref } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-database.js";

    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-analytics.js";
    import {
      getAuth,
      createUserWithEmailAndPassword,onAuthStateChanged
    } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyAQgJy14-hdF_rk3_QIVfkppr95FrdloTM",
      authDomain: "emoplayer-fb746.firebaseapp.com",
      databaseURL: "https://emoplayer-fb746-default-rtdb.firebaseio.com",
      projectId: "emoplayer-fb746",
      storageBucket: "emoplayer-fb746.appspot.com",
      messagingSenderId: "627032311657",
      appId: "1:627032311657:web:c2469181670aab2c7cdff8",
      measurementId: "G-D9HGQZKK1X",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    const database = getDatabase(app);
    const auth = getAuth();
  //  function redirect(){
  //   location.href="./home.html";
  //  }

    function validate() {
      var regName = /^[a-zA-Z]+ [a-zA-Z]+$/;
      var Fname = document.getElementById("namebox").value;
      if (!regName.test(Fname)) {
        alert("Invalid name given.");
        return false;
      }

      var email = /^[^@]+@\w+(\.\w+)+\w$/;
      var email = document.getElementById("emailbox").value;
      if (!email.test(mail)) {
        alert("Invalid email given.");
        return false;
      }

      var regPhone =
        /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
      var phone = document.getElementById("phonebox").value;
      if (!regPhone.test(phone)) {
        alert("Invalid mobile no given.");
        return false;
      }

      var password = document.getElementById("setpasswordbox").value;
      var confirmPassword = document.getElementById("confirmpasswordbox").value;
      if (password != confirmPassword) {
        alert("Passwords do not match.");
        return false;
      }
    }

    signUp.addEventListener("click", (e) => {
        e.preventDefault()

      var Fname = document.getElementById("namebox").value;
      var phone = document.getElementById("phonebox").value;

      var email = document.getElementById("emailbox").value;
      var password = document.getElementById("setpasswordbox").value;

      createUserWithEmailAndPassword(auth, email, password)
        .then((userCredential) => {
          // Signed in
          const user = userCredential.user;

          set(ref(database,'users/'+user.uid),{
            name:Fname,
            phoneno:phone,
            email:email,
            password:password
          })
          // redirect();
          //alert('jslkd');
          var loggedin = localStorage.getItem("loggedin");
          localStorage.setItem("loggedin", "yes");
          location.href='{% url 'index' %}'
          // localStorage.setItem( 'loggedin','yes',);
          // ...
        })
        .catch((error) => {
          const errorCode = error.code;
          const errorMessage = error.message;
          alert(errorMessage);
          // ..
        });
    });
  </script>

  <script>
    function redirectToLogin(){
      location.href='{% url 'login' %}'
    }
  </script>
  <script src="/main/static/js/signup.js" type="text/javascript"></script>
</html>
