<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signupstyle.css">
    <title>Sign Up Form</title>
    
</head>
<body>
        <div class="background" >
            <div class="shape"></div>
            <div class="shape1"></div>
            <form >
                <h3>Sign Up</h3>
                    <label for="name">Name</label>
                    <input for="text" id="name" placeholder="Enter Name">
                    
                    <label for="email">Email</label>
                    <input for="text" id="email" placeholder="Enter Email">
                    
                    <label for="phone">Mobile Number</label>
                    <input for="text" id="phone" placeholder="Enter Phone">
                    
                    <label for="setpassword">Set Password</label>
                    <input type="setpassword" id="setpassword" placeholder="Create Password">
                    
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="confirmpassword" id="confirmpassword" placeholder="Confirm Password">

                    <button onclick=signUp()>Sign Up</button>
                    <div class="options">
                        <div><a href="./login.html" style="color:white;text-decoration:none">Back to Login</a></div>
                        
                    </div>
                </form>

            </div>
        <!-- Insert this script at the bottom of the HTML, but before you use any Firebase services -->
<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js'
      // If you enabled Analytics in your project, add the Firebase SDK for Google Analytics
    import { getAnalytics } from 'https://www.gstatic.com/firebasejs/9.13.0/firebase-analytics.js'
  
      // Add Firebase products that you want to use
    import { getAuth } from 'https://www.gstatic.com/firebasejs/9.13.0/firebase-auth.js'
    import { getFirestore } from 'https://www.gstatic.com/firebasejs/9.13.0/firebase-firestore.js'
    
  const app = initializeApp(firebaseConfig);
  const db = getFirestore(app);
  const auth = getAuth();
</script>

<script src="../static/js/signup.js"></script>
</body>

</html>